<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCnOnSetRkcD2yAiFrdDXRErqCecZq3zY</string>
	<key>GCM_SENDER_ID</key>
	<string>12900074836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kans.KansTask</string>
	<key>PROJECT_ID</key>
	<string>kanz-4b4ab</string>
	<key>STORAGE_BUCKET</key>
	<string>kanz-4b4ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12900074836:ios:e7b1b8eeceb96286b834c1</string>
</dict>
</plist>